.navbar navbar-expand-lg bg-body-tertiary {
    padding-left: 30px;
}

.wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}

.container-fluid {
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.navbar-brand {
    color: blue;
}

section {
    width: 100%;
    height: 100%;
    border: 1px;
    display: inline-block;
    text-align: center;
    border: 1px dotted;
}

.nav-item {
    width: 210px;
}

.slide>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;

}